/* @group Reset */ 
*   { margin: 0; outline: none; padding: 0; text-decoration: none; }
img { border: none; }
ul  { list-style: none; }
li  { list-style: none; }
/* @end */

/* @group Global Utillities */
.reset         { margin: 0; padding: 0; }
.reset-margin  { margin: 0; }
.reset-padding { padding: 0; }

.clear-both  { clear: both; }
.clear-left  { clear: left; }
.clear-right { clear: right; }

.float-left  { float: left; }
.float-right { float: right; }

.align-justify { text-align: justify; }
.align-left    { text-align: left; }
.align-right   { text-align: right; }
.align-center  { text-align: center; }

.box_divider { border-top: 1px solid #C8D9DA; margin: 5px 0px 5px 0px; }
.gap { margin: 15px 0px 15px 0px; }
/* @end */

/* @group Defaults */
body { background: #FFF; font: 13px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif; }
/* @end */

/* @group Headers */
h1 { display: none; }
h2 { display: none; }
/* @end */

/* @group Links */
a { border-bottom: 1px dotted #345250; color: #345250; text-decoration: none; }
a:hover { border-bottom: 1px dotted #4E817E; color: #4E817E; text-decoration: none; }
/* @end */

/* @group Layout */
#container { margin: 0 auto; margin-top: 80px;  padding: 10px 0px 10px 0px; width: 450px; }
/* @end */

/* @group Signup Box */
#general_box { border-left: 2px solid #589693; border-right: 2px solid #589693; padding: 2px 10px 2px 10px; }
#general_box_corner { height: 8px; width: 8px; }
#general_box_corners { height: 8px; }
#general_box_corners.top { background: url(/images/global/gradients.jpg) repeat-x 0px 0px; margin-top: 20px;}
#general_box_corner.top_left { background: url(/images/global/sprites.jpg) no-repeat -10px -92px; }
#general_box_corner.top_right { background: url(/images/global/sprites.jpg) no-repeat -18px -92px; }
#general_box_corners.bottom { background: url(/images/global/gradients.jpg) repeat-x 0px -8px; }
#general_box_corner.bottom_left { background: url(/images/global/sprites.jpg) no-repeat -10px -100px; }
#general_box_corner.bottom_right { background: url(/images/global/sprites.jpg) no-repeat -18px -100px; }

#general_box input { border: none; outline: none; }
#general_box input#signup_button { background: url(/images/home/betasplash.sprites.jpg) no-repeat 0px -96px; color: #FFF; font-size: 14px; height: 30px; width: 95px;}
#general_box input.textbox { background: url(/images/home/betasplash.sprites.jpg) no-repeat 0px -66px; font-size: 14px; line-height: 14px; height: 18px; padding: 6px 8px 6px 8px; width: 274px; }

#widgets { letter-spacing: 0.5px;}
#widgets label { color: #345250; font-size: 14px; font-weight: normal; letter-spacing: -0.2px; }
#widgets #login { width: 400px; }
#widgets tr { height: 40px; }
#widgets tr th { width: 140px; text-align: right; padding-right: 10px; }
#widgets #signup_button { margin-left: 10px; }
/* @end */

/* @group Logo Container */
#logo_container p { color: #333333; font-size: 14px; line-height: 14px; letter-spacing: -0.1px; margin-top: 17px; text-align: center; }
#logo { background: url(/images/home/betasplash.sprites.jpg) no-repeat 0px 0px; height: 66px; margin: 0 auto; width: 328px; }
/* @end */

/* @group Twitter */
#twitter { margin: 0 auto; width: 450px; margin-top: 20px; }
#twitter ul#nick_twitter { width: 225px; }
#twitter ul#nick_twitter li#nick_picture { background: url(/images/home/betasplash.sprites.jpg) no-repeat 0px -126px; height: 80px; width: 80px; }
#twitter ul#lewis_twitter { width: 225px; }
#twitter a { font-size: 13px; letter-spacing: 1px; }
#twitter a.view_profile { line-height: 40px; letter-spacing: -0.5px; }
#twitter ul#nick_twitter li#nick_text { font-size: 12px; line-height: 18px; margin-left: 10px;}
#twitter ul#lewis_twitter li#lewis_text { font-size: 12px; line-height: 18px; margin-right: 10px; }
#twitter ul#lewis_twitter li#lewis_picture { background: url(/images/home/betasplash.sprites.jpg) no-repeat -80px -126px; height: 80px; width: 80px; }
/* @end */

/* @group Error lists */
ul.error_list li { background: url(/images/global/sprites.jpg) no-repeat 0px -265px; font-size: 14px; padding-left: 18px; height: 27px; margin-bottom: 5px; line-height: 27px;}
/* @end */